<app-confirm [message]="msg" *ngIf="msg" (close)="onClose()" (ok)="onOk()"></app-confirm>

<!-- Form Section -->
<br>
<form class="container" (ngSubmit)="onSubmit()" [formGroup]="recipeForm" *ngIf="!isLoading">
  <div class="row mb-2 justify-content-center">

    <div class="col-md-7 col-11 form-body">

      <h1 class=" text-center my-3" style="font-family: var(--heading); ">{{ editMode ?'Update Recipe' : 'Add Recipe'}}
      </h1>
      <p class="text-secondary my-4 text-center">{{editMode ? 'Update your recipe and enhance the Taste.': 'Add your amazing recipes and unlock the tastes.'}}</p>
      <div>
        <label>Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" placeholder="Enter Recipe Name" formControlName="RecipeName">
        <span class="mt-3 text-secondary"
          *ngIf="recipeForm.get('RecipeName').invalid && recipeForm.get('RecipeName').touched">Enter valid Recipe
          Name!</span>
      </div>

      <div class="mt-3">
        <label>Description <span class="text-danger">*</span></label>
        <input type="text" class="form-control" placeholder="Enter Recipe Description" formControlName="Description">
        <span class="mt-3 text-secondary"
          *ngIf="recipeForm.get('Description').invalid && recipeForm.get('Description').touched">This Field is
          required!</span>
      </div>

      <div class=" mt-3">
        <label>Image Url <span class="text-danger">*</span></label>
        <input type="text" class="form-control" placeholder="Enter Recipe Description" formControlName="Image">
        <span class="mt-3 text-secondary"
          *ngIf="recipeForm.get('Image').invalid && recipeForm.get('Image').touched">This Field is
          required!</span>
      </div>

      <div class="mt-3">
        <label for="textarea">Details <span class="text-danger">*</span></label>
        <textarea class="form-control" style="height: 70px" placeholder="Enter Recipe Details" id="textarea"
          formControlName="RecipeDetail"></textarea>
        <span class="mt-3 text-secondary"
          *ngIf="recipeForm.get('RecipeDetail').invalid && recipeForm.get('RecipeDetail').touched">This Field is
          required!</span>
      </div>

      <br>

      <!-- Button for adding ingredients.. -->
      <div>
        <a class="link-primary" (click)="addIngredient()">Ingredients</a>
      </div>

      <br>
      <!-- Form Array for ingredients -->

      <div formArrayName="ingredients">
        <div class="row justify-content-center" [formGroupName]="i" *ngFor="let controls of Controls; let i = index">
          <div class="col-8">
            <label for="input3">Item <span class="text-danger">*</span></label>
            <input type="text" class="form-control col-md-6" id="input3" placeholder="Item" formControlName="Item">
          </div>
          <div class="col-4">
            <label for="input4">Amount <span class="text-danger">*</span></label>
            <input type="number" class="form-control col-md-4" id="input4" placeholder="Amount"
              formControlName="Amount">
          </div>
        </div>
      </div>

      <!-- Button to remove FormArrays last FormGroup -->
      <div class="py-2 text-end">
        <a class="link-danger" (click)="removeIngControl()" *ngIf="(length > 0)">Delete</a>
      </div>

      <!-- Buttons -->
      <div class="text-center mt-3">
        <button type="submit" [style]="{width : '100%'}" class="btn btn-success"
          [disabled]="recipeForm.invalid">{{editMode ? 'Update': 'Save Data'}}</button>
        <br>
        <br>
        <a class="link-primary" (click)="onReset()">Reset</a>
      </div>

    </div>
  </div>

</form>

<br>
<br>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>