.form-body {
    background-color: white;
    padding: 30px 35px;
    margin: 40px 0;
}


@media screen and (min-width : 769px){
    .form-body {
        padding: 30px 40px;
        margin: 120px 0;
    }
}

textarea {
    border: 1px solid black !important;
    border-radius: 0px;
    box-shadow: none !important;
}

input.ng-invalid.ng-touched {
    border: 1px solid rgb(255, 0, 0) !important;
}

textarea.ng-invalid.ng-touched {
    border: 1px solid rgb(255, 0, 0) !important;
}

a{
    cursor: pointer;
}