<header class="header mb-2">
  <p class="navbar-brand" routerLink="/"><span style="color: rgb(6, 121, 0);">H</span>ome <span style="color: rgb(6, 121, 0);">N</span>eeds
  </p>

  <div id="menuToggle" class="hamburger">
    <input id="checkbox" type="checkbox" (click)="handleNav()" #checkbox>
    <label class="toggle" for="checkbox">
      <div class="bar bar--top"></div>
      <div class="bar bar--middle"></div>
      <div class="bar bar--bottom"></div>
    </label>
  </div>

  <nav class="navBar" [ngClass]="{ 'navOpen' : isNavopen}">

    <ul class="nav-links">

      <li class="nav-item " *ngIf="!isAuthenticated">
        <a class="nav-link active" aria-current="page" routerLink="/auth" routerLinkActive="navActive"
          (click)="onNavigate()">Authentication</a>
      </li>

      <li class="nav-item " *ngIf="isAuthenticated">
        <a class="nav-link active" aria-current="page" routerLinkActive="navActive" routerLink="recipeList"
          (click)="onNavigate()">Recipie
          List</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link active" routerLinkActive="navActive" routerLink="shopping" (click)="onNavigate()">Shopping
          List</a>
      </li>


      <li class="navbar-nav">
        <div class="nav-item dropdown mx-auto" *ngIf="isAuthenticated">
          <a class="nav-link dropdown-toggle " role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Action
          </a>

          <ul class="dropdown-menu ">
            <li><a class="dropdown-item" [routerLink]="['/new']" fragment="NewRecipe" (click)="onNavigate()">Add
                Recipes</a></li>
            <li><a class="dropdown-item" (click)="FetchData()">Fetch Data</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link active" (click)="onLogout()" (click)="onNavigate()">Logout</a>
      </li>

    </ul>

  </nav>
</header>

<app-confirm [message]="logMsg" *ngIf="logMsg" (close)="onClose()" (ok)="onOk()"></app-confirm>