<form class="container" (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="!isLoading">
    <div class="row">
        <div class="col-md-3 col-10 f-bg">
            <p style="font-size: 30px; font-weight: 600; text-align: center;">Reset Password</p>
            <p style="color: grey; text-align: center;">An URL will receive to your registred Email ID to change
                password</p>
            <section>
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Enter your email" name="email" ngModel
                    required email #email="ngModel">
                <p class="text-secondary" *ngIf="email.invalid && email.touched">invalid Email</p>
            </section>

            <!-- Button -->
            <div class="mt-3">
                <button type="submit" class="btn btn-success w-100" [disabled]="f.invalid">Send Email</button>
            </div>
        </div>
    </div>
</form>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>