.backdrop{
    background: #000000ab;;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 50;
}

.background{
    background-color: white;
    color: black;
    padding: 15px;
    top: 38vh;
    position: fixed;
    z-index: 100;
}

.btn1{
    padding: 3px 10px;
    background-color: black;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.btn2{
    text-decoration: none;
    margin-right: 5px;
    cursor: pointer;
}