
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<!-- Alert Model -->
<app-alert [message]="responseMsg" *ngIf="responseMsg" (close)="onHandleError()"></app-alert>


    <div class="row justify-content-center align-items-center">

        <div class="col-lg-3 col-10 f-bg " *ngIf="!isLoading">

            <div style="height: 100px; width: 100px;" class="mx-auto"><img src="assets\logo.png" height="auto" width="100%">
            </div>

            <form [formGroup]="authForm" (ngSubmit)="onSubmit()"> <!--Always FormGroup-->
                <div class="mb-2">
                    <label for="email">Email</label>
                    <input type="text" id="Email" class="form-control" formControlName="email"
                        placeholder="example@gmail.com">
                    <span class="text-secondary"
                        *ngIf="authForm.get('email').invalid && authForm.get('email').touched">Enter Valid Email!</span>
                </div>
                
                <div>
                    <label for="Password">Password</label>
                    <input type="password" id="Password" class="form-control" formControlName="password"
                        placeholder="Password">
                    <span class="text-secondary"
                        *ngIf="authForm.get('password').invalid && authForm.get('password').touched">Enter Valid
                        Password!</span>
                </div>
                <br>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-light" [disabled]="!authForm.valid">{{isLogging ? 'Log
                        in' :
                        'Sign Up'}}</button>
                    |
                    <button type="button" class="btn btn-warning" (click)="loginMode()">{{isLogging ?
                      'Sign Up' : 'Log in'}} </button>
                </div>
            </form>
        </div>
    </div>
