<form class="container-fluid" [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">

    <div class="row justify-content-center">

        <div class="col-md-5 col-lg-3 col-10 f-bg">

            <p style="font-size: 30px; font-weight: 600; text-align: center;">
                {{isLogging ?'Sign In' : 'Sign Up'}}
            </p>

            <p style="color: grey; text-align: center;">
                {{isLogging ?'Welcome! to your account.' : 'Create a free account by email.'}}
            </p>

            <div class="mb-3">
                <label for="email">Email</label>
                <input type="text" id="Email" class="form-control" formControlName="email"
                    placeholder="example@gmail.com">
                <p class="text-secondary" style="font-size: 14px;"
                    *ngIf="authForm.get('email').invalid && authForm.get('email').touched">Enter Valid Email!</p>
            </div>

            <div>
                <label for="Password">Password</label>
                <input type="password" id="Password" class="form-control" formControlName="password"
                    placeholder="Password">
                <p class="text-secondary" style="font-size: 14px;"
                    *ngIf="authForm.get('password').invalid && authForm.get('password').touched">Enter Valid
                    Password!</p>
            </div>

            <br>

            <!-- submit button -->
            <button type="submit" class="btn btn-success" style="width: 100%;" [disabled]="!authForm.valid">
                {{isLogging ? 'Login' :'Sign Up'}}
            </button>

            <!-- switch log mode -->
            <div class="mt-3 text-center">
                <a type="button" (click)="loginMode()">
                    switch to <span style="color: #1751ff; font-weight: 600;font-size: 16px;">{{isLogging ?'Sign Up' :
                        'Log in'}}</span>
                </a>
            </div>

        </div>
    </div>
</form>

<!-- Alert or Error Message -->
<div id="toast" [ngClass]="{'show' : errMessage}">
    <div id="img"><i id="alert-icon" class='bx bx-error'></i></div>
    <div id="desc">{{errMessage}}</div>
</div>

<!-- Loading -->
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>