

input.ng-invalid.ng-touched{
    border: 2px solid rgb(255, 0, 0) !important;
}

.f-bg{
    border: 1px solid #ffffff4f;
    padding: 20px 20px;
    border-radius: 15px;
    background-color: #ffffff12;
    margin: 17vh 0;
  }


