<section class="header" *ngIf="!ErrorMsg && !isLoading">
  <div class="container">
    <div class="row justify-content-around align-items-center">

      <div class="col-md-4">
        <div class="img-container mx-auto" data-aos="fade-right">
          <img src="../../../assets/images/logo.png" class="img-fluid">
        </div>
      </div>


      <div class="col-md-6 mt-5  mt-md-0 text-center" data-aos="fade-left">
        <h1 class="heading"><span style="color: var(--highlight);">H</span>ome <span
            style="color: var(--highlight);">N</span>eeds</h1>
        <p class="title">Your Kitchen Companion</p>
        <p class="desc">Conquer meal planning with ease! Add delicious recipes and generate your shopping list in one
          place</p>
      </div>

    </div>
  </div>
</section>



<!-- Card to display recipe lists -->

<div class="container my-5" *ngIf="!ErrorMsg && !isLoading">
  <div class="row justify-content-center">

    <article class="card mt-5 mx-3 mx-md-5 my-3 col-9 col-sm-5 col-lg-3" *ngFor="let RecipeList of recipeList" data-aos="fade-up">

      <div class="card-img">
        <img src="{{RecipeList.Image}}" class="card-imgs pv delete">
      </div>

      <section class="px-3 " style="margin-top: 50px;">
        <p class="fs-4" style="font-family: var(--heading);">{{RecipeList.RecipeName}}</p>
        <p class="text-secondary" [style]="{'height' : '70px' , 'overflow' : 'hidden'}">{{RecipeList.Description}}
        </p>

        <div class="pb-3">
          <button type="button" class="btn btn-success w-100" (click)="onCheckout(RecipeList.RID)">Checkout</button>
        </div>
      </section>
    </article>

  </div>
</div>


<!-- if no recipes -->
<div *ngIf="recipeList.length < 1 && !isLoading && !ErrorMsg" class="alert alert-secondary w-50 mx-auto p-5">
  <p class="fs-4 text-center">There is no recipes you have. please add recipes.</p>
  <div class="text-center mt-5">
    <button type="button" class="btn btn-success" routerLink="/Recipe-Form" fragment="new-recipe">Add Recipe</button>
  </div>
</div>

<!-- Error Window -->
<div class="text-center mt-5 alert alert-danger w-50 mx-auto p-5 error-win" *ngIf="ErrorMsg">
  <h3>{{ErrorMsg}}</h3>
</div>


<!-- Loading spiner -->
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>