.lighter {
  font-size: 0.9em;
}

/*IF USING IMAGES*/

.card {
  background-color: white;
  color: black;
  /* width: 300px; */
  max-height: 350px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-img {
  position: relative;
  top: -20px;
  height: 100px;
  display: flex;
  justify-content: center;
}

/* Change the .card-img div to .card-img img to use img*/
.card-img a,
.card-img img {
  height: 150px;
  width: 90%;
  /* Change this width here to change the width of the color/image */
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-imgs {
  transition: all 0.5s;
}





.c-img {
  object-fit: cover;
  height: 100%;
  filter: brightness(0.6);
}

.c-item {
  height: 750px;
}

@media screen and (max-width : 700px) {
  .c-item {
    height: 200px;
  }
}