.lighter {
  font-size: 0.9em;
}

/*IF USING IMAGES*/

.card {
  background-color: white;
  color: black;
  max-height: 350px;
  border-radius: 0px;
  padding: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-img {
  position: relative;
  top: -20px;
  height: 100px;
  display: flex;
  justify-content: center;
}

/* Change the .card-img div to .card-img img to use img*/
.card-img a,
.card-img img {
  height: 150px;
  width: 90%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-imgs {
  transition: all 0.5s;
}



.c-img {
  object-fit: cover;
  height: 100%;
  filter: brightness(0.6);
}

.c-item {
  height: 750px;
}

@media screen and (max-width : 769px) {
  .c-item {
    height: 200px;
  }
}




.img-container {
  height: 180px;
  width: 180px;
}

.header {
  background-color: #c9c9c9a1;
  padding: 80px 20px;
}

.heading {
  font-size: clamp(50px, 5vw, 100px);
  font-family: var(--heading);
  letter-spacing: 3px;
}

.title {
  color: gray;
}

@media screen and (min-width : 769px) {
  .img-container {
    height: 300px;
    width: 300px;
  }

  .header {
    background-color: #c9c9c9a1;
    padding: 100px 30px;
  }
}