#recipeDetail{
    background-color: #ffad0d;
    padding: 30px 20px;
    border-radius: 5px 160px 50px 80px;
    box-sizing: content-box;
}

.image-bg{
    background-color: #ffad0d;
    padding: 20px;
    border-radius: 10px;
}
.image{
    border-radius: 20px;
    
}


