/* You can add global styles to this file, and also import other style files */

/* LOGO */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

/* Other Display */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.bg-color {
  background-color: #e8e8e8;
  font-family: "Fira Sans", sans-serif;
}

input {
  border: 1px solid rgb(0, 0, 0) !important;
  box-shadow: none !important;
}

:root{
  --highlight : rgb(6, 121, 0);
}