/* You can add global styles to this file, and also import other style files */
.background{
  /*background-c*/
}

/* input{
  border: 2px solid green !important;
  box-shadow: none !important;
} */

.dark{
  background-color: black;
}