/* You can add global styles to this file, and also import other style files */

/* LOGO */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

/* Other Display */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


/* Font for Recipe Name in details */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
}

#bg {
  background-color: #e8e8e8;
  font-family: "Fira Sans", sans-serif;
}


input {
  border: 1px solid rgb(0, 0, 0) !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

:root {
  --highlight: rgb(6, 121, 0);
  --heading: "Lobster", sans-serif;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}