@import "~bootstrap-icons/font/bootstrap-icons.css";

.clip1:hover {
  color: #ffad0d;
}

.clip2:hover {
  color: #ff0d0d;
}


.i-hover:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
